[Unit]
Description=Fiche Server

[Service]
ExecStart=/usr/bin/fiche -d yank.gokmengorgen.net -o /home/ubuntu/yank/code -l /home/ubuntu/yank/yank.log -u ubuntu

[Install]
WantedBy=multi-user.target
